/*FUENTES*/
@font-face {
font-family: Brooklyn-Spanish-Light;
src: url(../fonts/dreamglass/Brooklyn-Spanish-Light.ttf);
}

@font-face {
font-family: Brooklyn-Spanish-Regular;
src: url(../fonts/dreamglass/Brooklyn-Spanish-Regular.ttf);
}

@font-face {
font-family: Montserrat-Black;
src: url(../fonts/dreamglass/Montserrat-Black.otf);
}

@font-face {
font-family: Montserrat-Bold;
src: url(../fonts/dreamglass/Montserrat-Bold.otf);
}

@font-face {
font-family: Montserrat-ExtraBold;
src: url(../fonts/dreamglass/Montserrat-ExtraBold.otf);
}

@font-face {
font-family: Montserrat-Hairline;
src: url(../fonts/dreamglass/Montserrat-Hairline.otf);
}

@font-face {
font-family: Montserrat-Light;
src: url(../fonts/dreamglass/Montserrat-Light.otf);
}

@font-face {
font-family: Montserrat-Medium;
src: url(../fonts/dreamglass/Montserrat-Medium.otf);
}

@font-face {
font-family: Montserrat-Regular;
src: url(../fonts/dreamglass/Montserrat-Regular.otf);
}

@font-face {
font-family: Montserrat-SemiBold;
src: url(../fonts/dreamglass/Montserrat-SemiBold.otf);
}

@font-face {
font-family: Montserrat-Thin;
src: url(../fonts/dreamglass/Montserrat-Thin.otf);
}

@font-face {
font-family: Montserrat-UltraLight;
src: url(../fonts/dreamglass/Montserrat-UltraLight.otf);
}



/*CUSTOM CSS LOGIKOS*/
.main-content{
	padding: 0px !important;
}
.links-footer{
	color: #ffffff !important;
}
.links-footer:hover, .links-footer:active{
	color: #2e7eaf !important;
}
.mobile_divider{ display: none; }
#accordions-9{ display: none; }
.fondo_app_mobile2{
		display: none;
	}

.site-footer{
	background-color: #111111 !important;
	}
.prefooter{
	width: 100%;
	padding-bottom: 50px;
	background: rgba(85,85,85,1);
	background: -moz-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(45,45,44,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,85,85,1)), color-stop(100%, rgba(45,45,44,1)));
	background: -webkit-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(45,45,44,1) 100%);
	background: -o-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(45,45,44,1) 100%);
	background: -ms-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(45,45,44,1) 100%);
	background: linear-gradient(to bottom, rgba(85,85,85,1) 0%, rgba(45,45,44,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#2d2d2c', GradientType=0 );
}
.site-info{
	text-align: center;
}
.prefooter-content{
	margin-top: 30px;
	font-family: Montserrat-Light;
}
.container-img{
	padding: 20px 35px 20px 35px;
	background-color: #5d5d5d;
	text-align: center;
}
.footer-ul{
	color: #d8d8d8;
	list-style-type: none;
	font-family: Montserrat-Light;
	font-size: 1.2rem;
	padding: 0;
    margin: 0;
}
.footer-ul-title{
	font-weight: bold;
	color: #f6f6f6;
}
.divider-footer{
	margin-top: 20px;
	margin-bottom: 20px;
}
.footertitle{
	font-weight: 700;
	color: #d8d8d8;
	font-size: 1.2rem;
}
.container-social-icons{
	margin-top: 10px;
}
.social-icons{
	margin-right: 2px;
}
.direccion{
	list-style-image: url(../images/direccion.png);
}
.izq{
	float: left;
	position: relative;
	margin-top: 5px;
}
.der{
	float: left;
	position: relative;
    padding-left: 5px;
}
.borde{
	border: 1px solid #b5b5b4;
    padding: 5px;
}
.footertext{
	color: #d8d8d8;
	font-size: 1.2rem;
	margin-top: 20px;
	font-weight: 600;
}
.container-telefono{
	margin-top: 23px;
}
.telefono{
	padding-top: 10px;
}
.footertextblue{
	color: #21789e;
	font-size: 1.2rem;
	margin-bottom: 26px;
	font-weight: 600;
}
.app{
	position: relative;
	background-image: url(../images/app-fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    height: 635px;

}
.app_tittle{
	font-family: Montserrat-Bold;
	color: #000;
    font-size: 2.5rem;
}
.app_text_color{
	color: #666;
	font-size: 1.5rem;
}
.app_text{
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%,-50%);
}
.panel-row-style-for-w5a25fbe26e514-0{
	padding: 0px !important;
}
.widget-title{
	margin-bottom: 20px !important;
	font-family: Brooklyn-Spanish-Light;
}
.widget-title:after{
	content: none !important;
}
.textwidget{
	font-family: Montserrat-Light;
	text-align: center;
}
#btn_contactus{
	border: 1px solid #636363;
}
#btn_readmorenews a{
	border: 1px solid #636363;
	padding: 15px;
}
.panel-row-style{
	padding: 50px 0px !important;
}


/*MEDIAS QUERIES*/
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.footertextblue{display: none;}
	.container-telefono{ margin-top: 0px !important; }
	.container-social-icons{ text-align: center; margin-bottom: 10px; }
	.prefooter{ background-color: #3b3b3b; }
	.mobile_margen{ margin-left: 12px; }
	.social-icons{ width: 42px; }
	.footertext{ margin-top: 10px; }
	.mobile_divider{ display: block; }
	#accordions-9{ display: block; }
	#footer_menu_desktop{ display: none; }
	.prefooter-content{ margin-top: 0px !important; }
	.site-info{ font-size: 1.2rem; }
	.app_text{
		top: 0;
		left: 0;
		transform: translate(0%,0%);
	}
	.app_tittle{
		font-size: 1.5rem;
	}
	.app{
		text-align: center;
		position: relative;
		background-image: url(../images/fondo_app_mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	    height: auto;
	    padding-top: 50px;
	    background: rgba(255,255,255,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	}
	.fondo_app_mobile2{
		display: block;
	}
	.img-responsive img{
		width: 40%;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1824px) and (orientation : portrait){
	.footertextblue{display: none;}
	.container-telefono{ margin-top: 0px !important; }
	.container-social-icons{ text-align: center; margin-bottom: 10px; }
	.prefooter{ background-color: #3b3b3b; }
	.mobile_margen{ margin-left: 12px; }
	.social-icons{ width: 42px; }
	.footertext{ margin-top: 10px; }
	.mobile_divider{ display: block; }
	#accordions-9{ display: block; }
	#footer_menu_desktop{ display: none; }
	.prefooter-content{ margin-top: 0px !important; }
	.site-info{ font-size: 1.2rem; }
	.app_text{
		top: 0;
		left: 0;
		transform: translate(0%,0%); 
	}
	.app_tittle{
		font-size: 1.5rem;
	}
	.app{
		text-align: center;
		position: relative;
		background-image: url(../images/fondo_app_mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	    height: auto;
	    padding-top: 50px;
	    background: rgba(255,255,255,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	}
	.fondo_app_mobile2{
		display: block;
	}
	.img-responsive img{
		width: 40%;
	}
}
