.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 296px;
  font-size: 1.15em;
  padding: 1em 2em;
  background: #959595;
  color: #ffffff !important;
  border: 1px solid #959595;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a:visited,
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a:active,
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-7bcdb27a2288 .ow-button-base a.ow-button-hover:hover {
  background: #9f9f9f;
  border-bottom-color: #929292;
  color: #ffffff;
}