.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16%;
  font-size: 1em;
  padding: 1.4em 2.8em;
  background: #f4f4f4;
  color: #000000 !important;
  border: 1px solid #f4f4f4;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a:visited,
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a:active,
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a:hover {
  color: #000000 !important;
}
.so-widget-sow-button-flat-b2aa88c41526 .ow-button-base a.ow-button-hover:hover {
  background: #fefefe;
  border-bottom-color: #f1f1f1;
  color: #0a0a0a;
}